### Flask and related packages ###

# Flask framework.
Flask

# Flask-BCrypt for storage and authentication of user passwords.
Flask-BCrypt

# Bootstrap integration with Flask.
Flask-Bootstrap

# Flask-CLI for using terminal commands.
Flask-CLI

# Flask-HTMLmin to automatically minify response content.
Flask-HTMLmin

# Flask-Nav for easy navbar generation.
Flask-Nav

# SQL-Alchemy integration with Flask.
Flask-SQLAlchemy

# WTForms integration with Flask.
Flask-WTF



### Other utility packages ###

# BBCode for blog and event posts.
BBCode

# Gunicorn to run the app on Heroku.
Gunicorn
