{% extends "bootstrap/base.html" %}

{% import "macros/navigation.html.j2" as navigation %}

{% block styles %}
    {{ super() }}
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='addons/bootstrap-flat/css/bootstrap-flat.css') }}"> -->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='addons/bootstrap-flat/css/bootstrap-flat-extras.css') }}"> -->
    <link href="{{ url_for('static', filename='css/bootstrap-paper.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/app.css') }}" rel="stylesheet" type="text/css">
    {# <link href="{{ url_for('static', filename='css/sidebar.css') }}" rel="stylesheet" type="text/css"> #}
{% endblock styles %}

{% block body %}
    {% block navbar %}
        {% call navigation.navbar(nav_class='navbar navbar-default', brand_url=url_for('index'),
            brand_text='Genera', brand_img=url_for('static', filename='brand_img.png')) %}
            {% call navigation.nav(class='navbar-nav') %}
                {{ navigation.item(text='Users', url=url_for('users.index')) }}
                {{ navigation.item(text='Events', url=url_for('events.index')) }}
            {% endcall %}
            {% call navigation.nav(class='navbar-nav navbar-right') %}
                {% if current_user %}
                    {% call navigation.dropdown(current_user.full_name, glyphicon='user') %}
                        {{ navigation.item(text='View profile', url=url_for('users.show', user_id=current_user.id)) }}
                        {{ navigation.item(text='Logout', url=url_for('logout')) }}
                    {% endcall %}
                {% else %}
                    {{ navigation.item(text='Login', url=url_for('login')) }}
                {% endif %}
            {% endcall %}
        {% endcall %}
    {% endblock navbar %}

    {% block container %}
        <div class="container" style="margin-top: 87px;">
            {# <div class="row row-offcanvas row-offcanvas-left">
                {% block sidebar %}
                    <div class="col-xs-6 col-sm-3 sidebar-offcanvas sidebar" role="navigation">
                        {% call navigation.nav() %}
                            <li><a>Sidebar to be implemented</a></li>
                        {% endcall %}
                    </div>
                {% endblock sidebar %}
                <div class="col-xs-12 col-sm-9"> #}
                    {# Display flash messages. #}
                    {% block flash_messages %}
                        {% with messages = get_flashed_messages(with_categories=True) %}
                            {% for category, message in messages %}
                                <div class="alert alert-{{ category }} fade in">
                                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                    <strong>{{ category.capitalize() }}!</strong> {{ message }}
                                </div>
                            {% endfor %}
                        {% endwith %}
                    {% endblock flash_messages %}

                    {% block content %}{% endblock content %}
                {# </div>
            </div> #}
        </div>
    {% endblock container %}

    {% block modals %}{% endblock modals %}

    {% block scripts %}
        {{ super() }}
        <script type="text/javascript">
            $(document).ready(function() {
                $('.navbar-toggle').click(function() {
                    $('.row-offcanvas').toggleClass('active');
                });
            });
        </script>
    {% endblock scripts %}
{% endblock body %}
