{% extends "bootstrap/base.html" %}

{% import "macros/navigation.html.j2" as navigation %}

{% block styles %}
    {{ super() }}
    <!-- <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/paper/bootstrap.min.css" rel="stylesheet" integrity="sha384-2mX2PSpkRSXLQzmNzH3gwK6srb06+OfbDlYjbog8LQuALYJjuQ3+Yzy2JIWNV9rW" crossorigin="anonymous"> -->
    <link href="{{ url_for('static', filename='css/sidebar.css') }}" rel="stylesheet" type="text/css">
{% endblock styles %}

{% block body %}
    {% block navbar %}
        {# nav.navbar.render() #}
        {% call navigation.navbar(brand_text='Genera', brand_url=url_for('index'), brand_img=url_for('static', filename='brand_img.png')) %}
            {% call navigation.nav() %}
                {{ navigation.item(text='Users', url=url_for('users.view_all')) }}
                {{ navigation.item(text='Events', url=url_for('events.view_all')) }}
                {% if current_user() %}
                    {{ navigation.item(text='Current User') }}
                {% endif %}
            {% endcall %}
        {% endcall %}
    {% endblock navbar %}

    <div class="container">
        <div class="row row-offcanvas row-offcanvas-left">
            {% block sidebar %}
                <div class="col-xs-6 col-sm-3 sidebar-offcanvas sidebar" role="navigation">
                    <ul class="nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#">Link 1</a></li>
                        <li><a href="#">Link 2</a></li>
                        <li><a href="#">Link 3</a></li>
                    </ul>
                </div>
            {% endblock sidebar %}
            <div class="col-xs-12 col-sm-9">
                {% block content %}{% endblock content %}
            </div>
        </div>
    </div>


    {% block scripts %}
        {{ super() }}
        <script type="text/javascript">
            $(document).ready(function() {
                $('[aria-controls="navbar"]').click(function() {
                // $('[data-toggle=offcanvas]').click(function() {
                    $('.row-offcanvas').toggleClass('active');
                });
            });
        </script>
    {% endblock scripts %}
{% endblock body %}
