{% macro form(form, action=None, method='POST', class='form', id=None, role='form', enctype=None, hidden_tags=True) -%}
{%- set method = method.upper() -%}
{%- set spoof_method = method not in ['GET', 'POST'] -%}
<form method="{{ 'POST' if spoof_method else method }}"
        {%- if action %}action="{{ action }}"{% endif -%}
        {%- if role %}role="{{ role }}"{% endif -%}
        {%- if class %}class="{{ class }}"{% endif -%}
        {%- if id %}id="{{ id }}"{% endif -%}
        {%- if enctype %}enctype="{{ enctype }}"{% endif -%}
        {{- html_params(**kwargs) }}>
    {% if spoof_method -%}
        <input type="hidden" name="_method" value="{{ method }}" />
    {%- endif %}
    {{ form.hidden_tag() if hidden_tags and form.hidden_tag }}

    {{ caller() if caller }}
</form>
{%- endmacro %}



{% macro form_group(field, class=None, id=None, help_block=None, placeholder='') -%}
<div class="form-group{% if field.errors %} has-error{% endif -%}
            {%- if field.flags.required %} required{% endif -%}
            {%- if class %} {{ class }}{% endif %}"
        {%- if id -%}id="{{ id }}"{%- endif -%}
        {{- html_params(**kwargs) }}>

    {% if caller -%}
        {{ caller() }}
    {%- else -%}
        {%- if field.widget.input_type == 'checkbox' -%}
            <div class="checkbox">
                <label>
                    {{ field() }} {{ field.label.text }}
                </label>
            </div>
        {%- elif field.type == 'RadioField' -%}
            {{ field.label(class='control-label radio') }}
            {%- for choice in field -%}
                <label class="radio-inline">
                    {{ choice() }} {{ choice.label.text }}
                </label>
            {%- endfor -%}
        {%- elif field.type == 'FileField' -%}
            {% set display_id = field.name + '-display' %}
            {% set onchange = "$('#" + display_id + "').attr('value', $(this).val().replace('C:\\\\fakepath\\\\', ''));" %}
            {{ field.label(class='control-label') }}
            <div class="input-group">
                <label class="input-group-btn">
                    <span class="btn btn-primary btn-file">
                        Browse... {{ field(style='display: none;', onchange=onchange) }}
                    </span>
                </label>
                <input class="form-control" type="text" id="{{ display_id }}" placeholder="{{ placeholder }}" readonly>
            </div>
        {%- else -%}
            {{ field.label(class='control-label') }}
            {{ field(class='form-control', placeholder=placeholder) }}
        {%- endif -%}
    {%- endif %}

    {% if help_block and not field.errors -%}
        <span class="help-block">{{ help_block }}</span>
    {%- endif %}
    {% if field.errors -%}
        {%- for error in field.errors -%}
            <span class="help-block">{{ error }}</span>
        {%- endfor -%}
    {%- endif %}
</div>
{%- endmacro %}



{% macro form_submit(text='Submit', btn_class='btn btn-primary', fg_class='form-group', glyphicon=None) %}
<div class="{{ fg_class }}">
    <button type="submit" class="{{ btn_class }}">
        {% if glyphicon -%}
            <i class="glyphicon glyphicon-{{ glyphicon }}"></i>
        {%- endif %}
        {{ text }}
    </button>
</div>
{% endmacro %}
