{% extends "layouts/app.html.j2" %}

{% import "macros/wtf.html.j2" as wtf %}
{% import "macros/custom.html.j2" as custom %}
{% import "macros/forms.html.j2" as forms %}

{% block title %}
    Login page - Genera App
{% endblock %}

{% block content %}
<div class="well">
    {% call forms.form(form, action=url_for('login'), method='POST') %}
        {{ forms.form_group(form.email) }}
        {{ forms.form_group(form.password) }}
        {{ forms.form_submit(text='Log in', glyphicon='log-in') }}
    {% endcall %}
</div>
{% endblock %}
