{% extends "layouts/app.html.j2" %}

{% block title %}
	{{ user.full_name }}
{% endblock %}

{% block content %}
<div class="jumbotron">
	<h1>{{ user.full_name }}</h1>
	<dl class="dl-horizontal">
		<dt>Email:</dt>
		<dd>{{ user.email }}</dd>

		<dt>Gender:</dt>
		<dd>{{ 'Male' if user.gender else 'Female' }}</dd>

		<dt>Birth Date:</dt>
		<dd>{{ user.birth_date | strftime }}</dd>

		<dt>Total Score:</dt>
		<dd>{{ user.total_score }}</dd>

		<dt>Recent Score:</dt>
		<dd>{{ user.recent_score }}</dd>
	</dl>
</div>
{% endblock %}
