{% import "macros/custom.html.j2" as custom %}

{% extends "layout.html.j2" %}

{% block title %}
	Event attendance
{% endblock %}

{% block styles %}
	{{ super() }}
	<style>
		ul.form-control {
			height: auto;
			overflow: scroll;
			list-style: none;
		}
	</style>
{% endblock %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
				<div class="well">
					{{ custom.render_form(form, method='POST', action_text='Submit',
						action_url=url_for('events.attendance', evt_id=form.event_id.data),
						btn_class='btn btn-primary btn-block') }}
				</div>
			</div>
		</div>
	</div>
{% endblock %}

