{% extends "layouts/app.html.j2" %}

{% import "macros/forms.html.j2" as forms %}

{% block title %}
	Event attendance
{% endblock %}

{% block styles %}
	{{ super() }}
	<style>
		ul.form-control {
			height: auto;
			overflow: scroll;
			list-style: none;
		}
	</style>
{% endblock %}

{% block content %}
<div class="well">
	{% call forms.form(form, action=url_for('events.attendance', evt_id=evt_id)) %}
		{{ forms.default_field(form.attendant_ids) }}
		{{ forms.button_field('Submit', glyphicon='ok') }}
	{% endcall %}
</div>
{% endblock %}
