{% extends "layouts/app.html.j2" %}

{% block title %}
	Events
{% endblock %}

{% block content %}
<div class="list-group">
	{% for event in events %}
		<a href="{{ url_for('events.show', evt_id=event.id) }}"
			class="list-group-item">
			<h4 class="list-group-item-heading">
				{{ event.title }}
				<small style="margin-left: 10px;">
					<ul class="list-inline pull-right">
						<li><strong>Points:</strong> {{ event.points }}</li>
						<li><strong>Date:</strong> {{ event.date_time | strftime }}</li>
						<li><strong>Category:</strong> {{ event.category.name }}</li>
					</ul>
				</small>
			</h4>
			<p class="list-group-item-text">{{ event.rendered_body | safe }}</p>
		</a>
	{% else %}
		There are no events.
	{% endfor %}
</div>
{% endblock %}
