{% extends "layouts/app.html.j2" %}

{% block title %}
	Event: {{ event.title }}
{% endblock %}

{% block styles %}
	{{ super() }}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/sections.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/events/show.css') }}">
{% endblock %}

{% block container %}
	<div id="hero" class="section dk-section lg-section bg-parallax bg-tint"
		style="background-image: url('{{ event_image_url(event) }}');">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
					<h1 class="text-center text-uppercase text-shadow">
						{{ event.title }}
					</h1>
					<div class="h-divider half-divider">
						<span class="box-shadow"></span>
					</div>
					<h5 class="text-center text-shadow">
						<i class="glyphicon glyphicon-calendar"></i> {{ event.date | strftime }} &emsp;
						<i class="glyphicon glyphicon-time"></i> {{ event.time | strftime }}
					</h5>
				</div>
				<div class="col-xs-12">
					<div id="buttons-container" class="text-center">
						<a href="{{ url_for('events.enroll', evt_id=event.id) }}" class="btn btn-wire">Enroll</a>
						<!-- TODO Add actions for event manager. -->
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="description" class="section lt-section md-section with-header bgc-white">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<h2 class="text-center text-uppercase">Description</h2>
					<div class="h-divider half-divider">
						<span></span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">
					{{ event.rendered_body | safe }}
				</div>
			</div>
		</div>
	</div>

	<div id="info" class="section dk-section md-section with-header bgc-blue">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<h2 class="text-center text-uppercase">Information</h2>
					<div class="h-divider half-divider">
						<span></span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
					<div class="row text-center v-divider">
						<div class="col-sm-3">
							<dl>
								<dt>Points Worth</dt>
								<dd>{{ event.points }}</dd>
							</dl>
						</div>
						<div class="col-sm-3">
							<dl>
								<dt>Category</dt>
								<dd>{{ event.category.name }}</dd>
							</dl>
						</div>
						<div class="col-sm-3">
							<dl>
								<dt>Max Attendants</dt>
								<dd>{{ event.max_attendants or 'Unlimited' }}</dd>
							</dl>
						</div>
						<div class="col-sm-3">
							<dl>
								<dt>Price</dt>
								<dd>{{ event.price or 'Free' }}</dd>
							</dl>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="location" class="section lt-section xs-section with-header full-width">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 text-center">
					<h2>Location</h2>
					<div class="h-divider half-divider">
						<span></span>
					</div>
					{% if event.location_name -%}
						<h5 id="location-name">{{ event.location_name }}</h5>
					{%- endif %}
				</div>
				{% if event.latitude and event.longitude -%}
					<div class="col-xs-12">
						<a href="https://maps.google.com/?saddr=Current+Location&daddr={{event.latitude}},{{event.longitude}}">
							<img class="img-responsive" alt="Mapa: Universidad Anáhuac Mayab"
								src="https://maps.googleapis.com/maps/api/staticmap?center={{event.latitude}},{{event.longitude}}&zoom=13&size=1024x150&scale=2&markers=color:red%7C{{event.latitude}},{{event.longitude}}&key=AIzaSyCuc4lw3MRhVtR9v7QxIdkuqjTvxOoDBBU">
						</a>
					</div>
				{%- endif %}
			</div>
		</div>
	</div>
{% endblock %}
